#wrap,
.page {
  position: relative;
  display: flex;
  min-height: -vh(100);
  flex-direction: column;
  min-width: 28rem;
  @include web-center;
}
@include media-min-width(1024) {
  body {
    background-color: #fafafa;
  }
  #wrap,
  .page {
    background-color: #fff;
  }
}

// lock
html.lock,
.lock body {
  height: -vh(100);
  overflow: hidden;
  -webkit-overflow-scrolling: none;
}
.lock #wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-overflow-scrolling: none;
  @include media-min-width(1024) {
    @include web-center-fixed;
  }
}

.header-space {
  position: sticky;
  top: 0;
  height: 4rem;
  flex-shrink: 0;
}
#header,
.page-head {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 50;
  background: #fff;
  transition: backgound-color 0.5s, box-shadow 0.3s, transform 0.3s;
  &.bg-origin {
    background: #fff !important;
  }
  html.ios & {
    @include ios-top(padding-top);
  }
  > div {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 4rem;
    padding: 0.2rem 1.2rem;
    transition: 0.3s;
    overflow: hidden;
  }
  //&.top-fixed {
  // @include dimm-white;
  // box-shadow: 0 0.4rem 0.8rem 0.4rem rgba(255, 255, 255, 1);
  // &.fixed-off {
  //   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  // }

  // > div {
  // position: fixed;
  // left: 0;
  // top: 0;
  // width: 100%;
  // box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.08);
  // }
  //}
  &.not-fixed-style {
    > div {
      box-shadow: none !important;
    }
  }
  &.head-ty2 {
    position: fixed;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s, transform 0.3s;
    // &.top-fixed {
    //   box-shadow: none;
    //   @include dimm-white;
    // }
  }

  h1 {
    flex: 1 1 auto;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    padding: 0 1.3rem;
    display: flex;
    align-items: center;
  }
  .head-left {
    h1 {
      padding: 0;
      display: block;
      text-align: left;
      flex: none;
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
}
@include class-begins('head-', '.button') {
  position: relative;
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  overflow: hidden;
  flex-shrink: 0;
  @include bg-etc(2.4rem auto);
  .btn-click-in {
    display: none;
  }
  @include class-begins('head-', '+') {
    margin-left: 0.4rem;
  }
}
.head-left,
.head-right {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
}
.head-left {
  &.full {
    flex: 1 1 auto;
    padding-left: 1.2rem;
  }
}

.head-right {
  margin-left: auto !important;
  .button {
    font-weight: normal;
    font-size: 1.4rem;
    height: 3.6rem;
    padding: 0 1.2rem;
    border-radius: 0;
    + .button {
      margin-left: 0.5rem;
    }
    &.icon {
      width: 4rem;
      height: 4rem;
      &:last-child {
        margin-right: 0.3rem;
      }
    }
  }
}
.head-back {
  // background-image: url(../images/icon/btn-back-24.png);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5303 3.46967C16.8232 3.76256 16.8232 4.23744 16.5303 4.53033L9.23741 11.8232C9.13978 11.9209 9.13978 12.0791 9.23741 12.1768L16.5303 19.4697C16.8232 19.7626 16.8232 20.2374 16.5303 20.5303C16.2374 20.8232 15.7625 20.8232 15.4696 20.5303L8.17675 13.2374C7.49333 12.554 7.49333 11.446 8.17675 10.7626L15.4696 3.46967C15.7625 3.17678 16.2374 3.17678 16.5303 3.46967Z' fill='%23121619'/%3E%3C/svg%3E");
}
.head-close {
  margin-right: 0.2rem;
  // background-image: url(../images/icon/btn-close-24.png);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.98954 4.67878C5.69665 4.38588 5.22178 4.38588 4.92888 4.67878C4.63599 4.97167 4.63599 5.44654 4.92888 5.73944L10.9395 11.75L4.92884 17.7606C4.63594 18.0535 4.63594 18.5284 4.92884 18.8213C5.22173 19.1142 5.6966 19.1142 5.9895 18.8213L12.0001 12.8107L18.0104 18.8209C18.3033 19.1138 18.7781 19.1138 19.071 18.8209C19.3639 18.528 19.3639 18.0531 19.071 17.7603L13.0608 11.75L19.071 5.73981C19.3639 5.44692 19.3639 4.97204 19.071 4.67915C18.7781 4.38626 18.3032 4.38626 18.0103 4.67915L12.0001 10.6893L5.98954 4.67878Z' fill='%23222222'/%3E%3C/svg%3E");
}

.scl-title-hide {
  opacity: 0;
  transform: translateY(100%);
}
#container,
.page-body {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  // height: 100%;
  &:first-child {
    padding-top: 4rem;
    html.ios & {
      @include ios-top(padding-top, 4rem);
    }
  }
  > section,
  > div {
    width: 100%;
  }
  > .section {
    &.first,
    &:first-child {
      padding-top: var(--base-padding);
    }
    &.last,
    &:last-child {
      padding-bottom: var(--base-padding);
    }
  }
  > div:first-child:not(.section) + .section {
    padding-top: var(--base-padding);
  }
}
.outer-content {
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
  .section & {
    @include outer;
  }
}
.full-section {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  // > * {
  //   width: 100%;
  // }
}
.bottom-contents {
  margin-top: auto;
}
.section {
  padding: 0 var(--base-padding);
}
.bottom-fixed-space {
  flex-shrink: 0;
}

.floating-btn {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 2.4rem;
  right: var(--base-padding);
  width: auto !important;
  z-index: 50;
  transition: padding 0.3s, bottom 0.3s;
  @include media-min-width(1024) {
    right: 50%;
    margin-right: calc(-51.2rem + var(--base-padding));
  }
  &.top-on {
    padding-bottom: 6.4rem;
  }
  .btn {
    position: relative;
    display: block;
    width: 5.6rem;
    height: 5.6rem;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    z-index: 1;
    font-size: 1.2rem;
    line-height: 1.33;
    color: var(--strong-txt-color2);
    + .btn {
      margin-top: 0.8rem;
    }
    &.btn-page-top {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      opacity: 0;
      right: -15rem;
      z-index: 0;
      transition: opacity 0.3s, right 0s 0.3s;
      // @include bg-etc(2.4rem auto);
      // background-image: url("data:image/svg+xml,%3Csvg id='icon-arrow-up' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px%7D%3C/style%3E%3C/defs%3E%3Cpath id='선_42' data-name='선 42' class='cls-2' transform='translate(12 5)' d='M0 14V0'/%3E%3Cpath id='패스_18' data-name='패스 18' class='cls-2' d='m5 12 7-7 7 7'/%3E%3C/svg%3E");
      &.on {
        opacity: 1;
        right: 0;
        transition-delay: 0s, 0s;
      }
    }
    &.btn-quick {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
      color: #fff;
      img {
        @include img-fit(true);
      }
    }
  }
}
.btn-pop-top {
  position: fixed;
  right: var(--base-padding);
  bottom: 2.4rem;
  display: flex;
  width: 5.6rem;
  height: 5.6rem;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  font-size: 1.2rem;
  line-height: 1.33;
  color: var(--strong-txt-color2);
  align-items: center;
  justify-content: center;
  z-index: 11;
  opacity: 0;
  transform: translateX(500%);
  transition: opacity 0.3s, transform 0s 0.3s;
  @include media-min-width(1024) {
    right: 50%;
    margin-right: calc(-51.2rem + var(--base-padding));
  }
  &.on {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0s, 0s;
  }
}

//gnb
.folding-list.gnb-list {
  border-width: 0;
  > li {
    border-top-width: 0;
    &:before {
      content: '';
      display: block;
      height: 0.1rem;
      margin: 0 2rem;
      background: #eee;
    }
  }
  .folding-head {
    font-size: 1.6rem;
    a {
      padding: 2rem 5.4rem 2rem 5.2rem;
      i {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 2rem;
        top: 2rem;
        background: #000;
      }
    }
  }
  .folding-panel {
    padding-top: 0;
    padding-left: 5.2rem;
    padding-bottom: 2.6rem;
    ul {
      display: flex;
      flex-wrap: wrap;
      > li {
        width: 50%;
        > a {
          display: block;
          padding: 0.6rem 0;
          font-size: 1.4rem;
        }
      }
    }
  }
}
